@model IEnumerable<WebAppContact.Models.Contact>


<div>


    <div id="emailGroupName">
        <h3>Location: @Model.First().RetailLocationName</h3>
    </div>

    
        <div style="padding-top:60px">

            <form action="~/Group/SaveChange/?uid=@Model.First().RetailLocationID" method="post">
                <input id="email" type="hidden" value="@Model.First().Email" name="email" />

                <div class="row">
                    <div class="col-xs-12 hidden-xs">
                        <p style="text-align:center; padding-left:0" class="col-xs-2 col-md-4 col-lg-3 col-sm-3" >Keep Email Address<br> On File</p>
                        <p class="col-xs-6 col-sm-4 col-md-4 col-lg-3" style="padding-left:14px">Full Name</p>
                        <p class="col-xs-4 col-sm-4 col-md-3 col-lg-3" style="padding-left:19px">Email</p>
                        <p style="text-align:center; padding-left:0" class="col-xs-4 col-sm-1 col-md-1 col-lg-3">Inactive</p>
                    </div>
                </div>
                <hr />
                
                    @foreach (var item in Model)
                    {
                <div class="row">

                    <div id="contRadio" class="col-xs-1 col-md-4 col-lg-3 col-sm-3">
                        <input style="margin-top:10px;" class="radiob" type="radio" name="main" value="@item.ID" checked="@item.MainContact" data-prev="@item.MainContact" />
                    </div>

                    <div style="margin-top:35px" class="col-xs-8 hidden-sm hidden-md hidden-lg">
                        <span>Keep Email Address On File</span>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 test" style="margin-top:13px">
                        <div class="NameContainer">
                            <div>
                                <h4 class="mainName">@(item.NewFirstName.IsEmpty() ? item.FirstName : item.NewFirstName )</h4>
                            </div>

                            <div>
                                <input name="newFName" class="form-control editName" type="text" />
                            </div>
                        </div>
                        <div class="NameContainer">
                            <div>
                                <h4 class="mainName">@(item.NewLastName.IsEmpty() ? item.LastName : item.NewLastName )</h4>
                            </div>
                            <div>
                                <input name="newLName" class="form-control editName" type="text" />
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 test">
                        <label>@item.Email</label>
                        <input id="@item.ID" type="email" class="form-control mob-email" value="@item.EmailContact" name="newEmail" pattern=@ViewBag.pattern />
                        <input type="hidden" value="@item.ID" name="id" />
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 check">
                        <input type="checkbox" name="OldContact" value="@item.ID" checked="@item.Deleted" />
                    </div>

                    <div style="margin-top:18px" class="col-xs-4 hidden-sm hidden-md hidden-lg">
                        <span>Inactive</span>
                    </div>
                    
                </div>
                <hr class="col-xs-11 hidden-sm hidden-md hidden-lg"/>  
                   
                <br />
                    }

                    <input id="btnSubmit" type="submit" value="SAVE CHANGES" />
            </form>
        </div>
        
    </div>
